name: Node Backend CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('backend/package-lock.json') }}

      - name: Install dependencies
        run: cd backend && npm ci

      - name: Run backend linter
        run: cd backend && npx eslint .

      - name: Run backend unit tests
        run: cd backend && npm test

      - name: Run backend API tests
        run: |
          cd backend
          npm start &
          sleep 5
          npm run test:api

  frontend:
    runs-on: ubuntu-latest
    needs: backend  
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          
      - name: Install frontend dependencies
        run: cd frontend && npm ci
        
      - name: Run frontend unit tests
        run: cd frontend && npm test

      - name: Run frontend E2E tests
        run: |
          cd frontend
          npm run dev &
          sleep 20
           npm run test:e2e